@import 'fonts.scss';
@import './utils/screen.scss';
@import './utils/glitch.scss';


body {
	font-family: 'Press Start 2P';
	margin: 0;

	* {
			   user-select: none;
		webkit-user-select: none;
	}

}

canvas {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.hidden {
	display: none;
}

.app {
	width: 640px;
	height: 360px;
	background: black;
}

.link {
	color: orange;
	cursor: pointer;
	text-decoration: underline;
}

.le-img {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	left: 0;
	right: 0;
}

.cover {
	padding-top: 45px;
	position: absolute;
	text-align: center;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;

			text-stroke: 0.5px rgba(#666, 0.5);
	-webkit-text-stroke: 0.5px rgba(#666, 0.5);

	img {
				animation:bump 1.5s ease-in-out;
		   -moz-animation:bump 1.5s ease-in-out infinite;
		-webkit-animation:bump 1.5s ease-in-out infinite;
	}
}

@keyframes bump
{
0%   {transform: scale(1);}
25%   {transform: scale(1);}
50%  {transform: scale(1.25);}
75%   {transform: scale(1);}
100%   {transform: scale(1);}
}

@-moz-keyframes bump
{
0%   {transform: scale(1);}
25%   {transform: scale(1);}
50%  {transform: scale(1.25);}
75%   {transform: scale(1);}
100%   {transform: scale(1);}
}

@-webkit-keyframes bump
{
0%   {transform: scale(1);}
25%   {transform: scale(1);}
50%  {transform: scale(1.25);}
75%   {transform: scale(1);}
100%   {transform: scale(1);}
}

svg {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;

	g {
		transform: translateY(5.5em);
	}

	text {
		text-anchor: middle;
		text-align: center;
		fill: white;
		stroke: rgba(#666, 0.5);
		stroke-width: 5px;
		font-size: 10em;


		opacity: 0;

		&.count {
					animation: count 1s linear;
			   -moz-animation: count 1s linear;
			-webkit-animation: count 1s linear;
		}

		&.count-1 {
		    -webkit-animation-delay: 0s;
				    animation-delay: 0s;
		}

		&.count-2 {
		    -webkit-animation-delay: 1s;
				    animation-delay: 1s;
		}

		&.count-3 {
		    -webkit-animation-delay: 2s;
				    animation-delay: 2s;
		}
	}
}

@keyframes count
{
	0%     {opacity: 1;}
	99%    {opacity: 1;}
	100%   {opacity: 0;}
}

@-moz-keyframes count
{
	0%     {opacity: 1;}
	99%    {opacity: 1;}
	100%   {opacity: 0;}
}

@-webkit-keyframes count
{
	0%     {opacity: 1;}
	99%    {opacity: 1;}
	100%   {opacity: 0;}
}